.App {
    height: 100%;
    width: 100%;
}

.dashboard-wrapper {
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-top: 1px solid gray;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-bottom: 1px solid gray;
}

.body-wrapper {
    display: flex;
    height: 80%;
}

.body-main {
    width: 80%;
}

.sidebar {
    text-align: center;
    height: 100%;
    width: 20%;
    border-right: 1px solid gray;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-detail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details {
    display: flex;
    flex-flow: column;
    width: 80%;
    font-size: 12px;
}

.form-elem {
    display: flex;
    flex-flow: column;
    align-items: center;
}